.container {
	margin: 0 auto;
	text-align: center;
}
.zz-margin-h{
	margin-left: 15px;
	margin-right: 15px;
}
.zz-padding-h{
	padding-left: 15px;
	padding-right:15px ;
}
.zz-padding-v{
	padding-top:15px ;
	padding-bottom: 15px;
}
